<ul>
  <%= cart.each do |product| %>
    <li><%= product %>
      <%= form_for product, url: products_add_path do |f| %>
        <%= f.submit "add to cart" %>
      <% end %>
    </li>
  <% end %>
</ul>
